.modal-enter {
    opacity: 0;
    transform: scale(0.9) translateY(-40px);
}
.modal-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity 300ms, transform 300ms;
}
.modal-exit {
    opacity: 1;
}
.modal-exit-active {
    opacity: 0;
    transform: scale(0.9) translateY(-40px);
    transition: opacity 300ms, transform 300ms;
}
.backdrop {
    background-color: rgba(255,255,255,0.7);
}
.backdrop-enter {
    opacity: 0;
}
.backdrop-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.backdrop-exit {
    opacity: 1;
}
.backdrop-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.modal-container {
    max-height: calc(100vh - 6rem);
}

.modal-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.modal-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.modal-container::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.12);
    border-radius: 10px;
}